<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Edit item page</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
               
                <mat-form-field>
                    <input class="form-control" [(ngModel)]="editData.name" name = "Name" matInput placeholder="Name">
                </mat-form-field>
                <br/>

                <mat-form-field>
                        <input [(ngModel)]="editData.category" name="Category"required matInput placeholder="Category">
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <input class="form-control" [(ngModel)]="editData.Location" name = "Location" matInput placeholder="Location">
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <input class="form-control" [(ngModel)]="editData.lat" name = "Latitudinal" matInput placeholder="Latitudinal">
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <input class="form-control" [(ngModel)]="editData.mag" name = "Longtiudinal" matInput placeholder="Longtiudinal">
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <input class="form-control" [(ngModel)]="editData.Tel" name = "Telephone" matInput placeholder="Telephone no.">
                </mat-form-field>
                <br/>

                <mat-form-field style="width: 100%">
                    <input class="form-control" [(ngModel)]="editData.Email" name = "Email" matInput placeholder="Email">
                </mat-form-field>
                <br/>

                <mat-form-field style="width: 100%">
                        <textarea [(ngModel)]="editData.discripe" name="Description" matInput placeholder="Description" ></textarea>
                </mat-form-field>
                <br/>
               
        
                <!-- <mat-radio-group [(value)]="editData.category">
                    <mat-radio-button *ngFor="let cate of categorie" [value]="cate.name">{{cate.name}}</mat-option>
                </mat-radio-group> -->
        
                
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click'); ">Cancel</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)=" edit();modal.close('Close click'); openLg(content1);">Next</button>
        </div>
      </ng-template>
      <ng-template #content1 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Edit item page</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <br/>
                <upload img={{img}} ></upload>
            </form>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click'); ">Cancel</button>
                <button (click)=" modal.close('Close click');" mat-raised-button color="primary">Done</button>
        </div>
      </ng-template>
      
      
      <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Edit</button>

      